<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="templates/style.css">
  <title>{% block title %}Safe mail{% endblock %}</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-teal fixed-top">
        <div class="container">
            <a href="home.html" class="navbar-brand">
                <i class="fas fa-mail-bulk"></i> Safe Mail</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mail-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mail-navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-iteam px-3">
                        <a href="home.html" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-iteam px-3">
                        <a href="#compose-modal" class="nav-link text-white" data-toggle="modal" data-target="#compose-modal">Compose</a>
                    </li>
                    <li class="nav-iteam px-3">
                        <a href="#" class="nav-link text-white">Inbox</a>
                    </li>
                    <li class="nav-iteam px-3">
                        <a href="#" class="nav-link text-white">Sent</a>
                    </li>
                    <li class="nav-iteam px-3">
                        <a href="register.html" class="nav-link text-white">Sign up</a>
                    </li>
                    <li class="nav-iteam px-3">
                        <a href="login.html" class="nav-link text-white">Login</a>
                    </li>
                    <li class="nav-iteam px-3">
                        <a href="#" class="nav-link text-white">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="d-flex align-items-center min-vh-100 py-md-0">
        <div class="modal" id="compose-modal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-secondary text-white">
                        <h4>New Message</h4>
                        <button class="close" data-dismiss="modal">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">To:</label>
                              <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="subject" class="col-form-label">Subject:</label>
                                <input type="text" class="form-control" id="subject">
                              </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Message:</label>
                              <textarea class="form-control" id="message-text" rows="5"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
   </section>

    {% block content %}
      {% endblock %}


    <footer class="p-3 bg-teal text-white text-center mt-3">
        <div class="container">
            Copyrights &copy 2021. No right Reserved
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>